.home{
    width: 100%;
    height: 100vh;
}

.navbarItem{
    height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: screen, overlay, hard-light, normal;
    padding: 50px 100px;

}
.corItem{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    color: white;
}
.corItem p{
    padding: 10px 0;
}
.corItem img{
    overflow: hidden;
}
.headerText{
    font-size: 10vh;
    color: #FF6928;
    line-height: 1;
}