.home{
    width: 100%;
    height: 100vh;
}

.navbarItem{
    height: 100vh;
    width: 100%;
    color: #fff;
    padding: 50px;
}
.corItem{
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
}
